HotelCliente/src/conf/xml-resources/web-service-references/ServAlojamiento/wsdl/localhost_8080/HotelServicios/ServAlojamiento.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="ServAlojamiento">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/HotelServicios/ServAlojamiento?xsd=1"/>
</xsd:schema>
</types>
<message name="listarAlojamiento">
<part name="parameters" element="tns:listarAlojamiento"/>
</message>
<message name="listarAlojamientoResponse">
<part name="parameters" element="tns:listarAlojamientoResponse"/>
</message>
<message name="buscarAlojamientoRES">
<part name="parameters" element="tns:buscarAlojamientoRES"/>
</message>
<message name="buscarAlojamientoRESResponse">
<part name="parameters" element="tns:buscarAlojamientoRESResponse"/>
</message>
<message name="buscarAlojamiento">
<part name="parameters" element="tns:buscarAlojamiento"/>
</message>
<message name="buscarAlojamientoResponse">
<part name="parameters" element="tns:buscarAlojamientoResponse"/>
</message>
<message name="registrarAlojamiento">
<part name="parameters" element="tns:registrarAlojamiento"/>
</message>
<message name="registrarAlojamientoResponse">
<part name="parameters" element="tns:registrarAlojamientoResponse"/>
</message>
<message name="resumenAlojamiento">
<part name="parameters" element="tns:resumenAlojamiento"/>
</message>
<message name="resumenAlojamientoResponse">
<part name="parameters" element="tns:resumenAlojamientoResponse"/>
</message>
<message name="eliminarResumenAloj">
<part name="parameters" element="tns:eliminarResumenAloj"/>
</message>
<message name="eliminarResumenAlojResponse">
<part name="parameters" element="tns:eliminarResumenAlojResponse"/>
</message>
<message name="agregarAlojamiento">
<part name="parameters" element="tns:agregarAlojamiento"/>
</message>
<message name="agregarAlojamientoResponse">
<part name="parameters" element="tns:agregarAlojamientoResponse"/>
</message>
<message name="codigoautomaticoaloj">
<part name="parameters" element="tns:codigoautomaticoaloj"/>
</message>
<message name="codigoautomaticoalojResponse">
<part name="parameters" element="tns:codigoautomaticoalojResponse"/>
</message>
<portType name="ServAlojamiento">
<operation name="listarAlojamiento">
<input wsam:Action="http://servicio/ServAlojamiento/listarAlojamientoRequest" message="tns:listarAlojamiento"/>
<output wsam:Action="http://servicio/ServAlojamiento/listarAlojamientoResponse" message="tns:listarAlojamientoResponse"/>
</operation>
<operation name="buscarAlojamientoRES">
<input wsam:Action="http://servicio/ServAlojamiento/buscarAlojamientoRESRequest" message="tns:buscarAlojamientoRES"/>
<output wsam:Action="http://servicio/ServAlojamiento/buscarAlojamientoRESResponse" message="tns:buscarAlojamientoRESResponse"/>
</operation>
<operation name="buscarAlojamiento">
<input wsam:Action="http://servicio/ServAlojamiento/buscarAlojamientoRequest" message="tns:buscarAlojamiento"/>
<output wsam:Action="http://servicio/ServAlojamiento/buscarAlojamientoResponse" message="tns:buscarAlojamientoResponse"/>
</operation>
<operation name="registrarAlojamiento">
<input wsam:Action="http://servicio/ServAlojamiento/registrarAlojamientoRequest" message="tns:registrarAlojamiento"/>
<output wsam:Action="http://servicio/ServAlojamiento/registrarAlojamientoResponse" message="tns:registrarAlojamientoResponse"/>
</operation>
<operation name="resumenAlojamiento">
<input wsam:Action="http://servicio/ServAlojamiento/resumenAlojamientoRequest" message="tns:resumenAlojamiento"/>
<output wsam:Action="http://servicio/ServAlojamiento/resumenAlojamientoResponse" message="tns:resumenAlojamientoResponse"/>
</operation>
<operation name="eliminarResumenAloj">
<input wsam:Action="http://servicio/ServAlojamiento/eliminarResumenAlojRequest" message="tns:eliminarResumenAloj"/>
<output wsam:Action="http://servicio/ServAlojamiento/eliminarResumenAlojResponse" message="tns:eliminarResumenAlojResponse"/>
</operation>
<operation name="agregarAlojamiento">
<input wsam:Action="http://servicio/ServAlojamiento/agregarAlojamientoRequest" message="tns:agregarAlojamiento"/>
<output wsam:Action="http://servicio/ServAlojamiento/agregarAlojamientoResponse" message="tns:agregarAlojamientoResponse"/>
</operation>
<operation name="codigoautomaticoaloj">
<input wsam:Action="http://servicio/ServAlojamiento/codigoautomaticoalojRequest" message="tns:codigoautomaticoaloj"/>
<output wsam:Action="http://servicio/ServAlojamiento/codigoautomaticoalojResponse" message="tns:codigoautomaticoalojResponse"/>
</operation>
</portType>
<binding name="ServAlojamientoPortBinding" type="tns:ServAlojamiento">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarAlojamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAlojamientoRES">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAlojamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarAlojamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resumenAlojamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarResumenAloj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarAlojamiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="codigoautomaticoaloj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServAlojamiento">
<port name="ServAlojamientoPort" binding="tns:ServAlojamientoPortBinding">
<soap:address location="http://localhost:8080/HotelServicios/ServAlojamiento"/>
</port>
</service>
</definitions>