HotelCliente/src/conf/xml-resources/web-service-references/ServiciosEmpleado/wsdl/localhost_8080/HotelServicios/ServiciosEmpleado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="ServiciosEmpleado">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/HotelServicios/ServiciosEmpleado?xsd=1"/>
</xsd:schema>
</types>
<message name="elmininarEmpleado">
<part name="parameters" element="tns:elmininarEmpleado"/>
</message>
<message name="elmininarEmpleadoResponse">
<part name="parameters" element="tns:elmininarEmpleadoResponse"/>
</message>
<message name="autenticarEmpleado">
<part name="parameters" element="tns:autenticarEmpleado"/>
</message>
<message name="autenticarEmpleadoResponse">
<part name="parameters" element="tns:autenticarEmpleadoResponse"/>
</message>
<message name="buscarAdministradorInicioSesion">
<part name="parameters" element="tns:buscarAdministradorInicioSesion"/>
</message>
<message name="buscarAdministradorInicioSesionResponse">
<part name="parameters" element="tns:buscarAdministradorInicioSesionResponse"/>
</message>
<message name="buscarNombreAdministrador">
<part name="parameters" element="tns:buscarNombreAdministrador"/>
</message>
<message name="buscarNombreAdministradorResponse">
<part name="parameters" element="tns:buscarNombreAdministradorResponse"/>
</message>
<message name="listarEmpleado">
<part name="parameters" element="tns:listarEmpleado"/>
</message>
<message name="listarEmpleadoResponse">
<part name="parameters" element="tns:listarEmpleadoResponse"/>
</message>
<message name="grabarEmpleado">
<part name="parameters" element="tns:grabarEmpleado"/>
</message>
<message name="grabarEmpleadoResponse">
<part name="parameters" element="tns:grabarEmpleadoResponse"/>
</message>
<message name="buscarEmpleado">
<part name="parameters" element="tns:buscarEmpleado"/>
</message>
<message name="buscarEmpleadoResponse">
<part name="parameters" element="tns:buscarEmpleadoResponse"/>
</message>
<portType name="ServiciosEmpleado">
<operation name="elmininarEmpleado">
<input wsam:Action="http://servicio/ServiciosEmpleado/elmininarEmpleadoRequest" message="tns:elmininarEmpleado"/>
<output wsam:Action="http://servicio/ServiciosEmpleado/elmininarEmpleadoResponse" message="tns:elmininarEmpleadoResponse"/>
</operation>
<operation name="autenticarEmpleado">
<input wsam:Action="http://servicio/ServiciosEmpleado/autenticarEmpleadoRequest" message="tns:autenticarEmpleado"/>
<output wsam:Action="http://servicio/ServiciosEmpleado/autenticarEmpleadoResponse" message="tns:autenticarEmpleadoResponse"/>
</operation>
<operation name="buscarAdministradorInicioSesion">
<input wsam:Action="http://servicio/ServiciosEmpleado/buscarAdministradorInicioSesionRequest" message="tns:buscarAdministradorInicioSesion"/>
<output wsam:Action="http://servicio/ServiciosEmpleado/buscarAdministradorInicioSesionResponse" message="tns:buscarAdministradorInicioSesionResponse"/>
</operation>
<operation name="buscarNombreAdministrador">
<input wsam:Action="http://servicio/ServiciosEmpleado/buscarNombreAdministradorRequest" message="tns:buscarNombreAdministrador"/>
<output wsam:Action="http://servicio/ServiciosEmpleado/buscarNombreAdministradorResponse" message="tns:buscarNombreAdministradorResponse"/>
</operation>
<operation name="listarEmpleado">
<input wsam:Action="http://servicio/ServiciosEmpleado/listarEmpleadoRequest" message="tns:listarEmpleado"/>
<output wsam:Action="http://servicio/ServiciosEmpleado/listarEmpleadoResponse" message="tns:listarEmpleadoResponse"/>
</operation>
<operation name="grabarEmpleado">
<input wsam:Action="http://servicio/ServiciosEmpleado/grabarEmpleadoRequest" message="tns:grabarEmpleado"/>
<output wsam:Action="http://servicio/ServiciosEmpleado/grabarEmpleadoResponse" message="tns:grabarEmpleadoResponse"/>
</operation>
<operation name="buscarEmpleado">
<input wsam:Action="http://servicio/ServiciosEmpleado/buscarEmpleadoRequest" message="tns:buscarEmpleado"/>
<output wsam:Action="http://servicio/ServiciosEmpleado/buscarEmpleadoResponse" message="tns:buscarEmpleadoResponse"/>
</operation>
</portType>
<binding name="ServiciosEmpleadoPortBinding" type="tns:ServiciosEmpleado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="elmininarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAdministradorInicioSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarNombreAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="grabarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServiciosEmpleado">
<port name="ServiciosEmpleadoPort" binding="tns:ServiciosEmpleadoPortBinding">
<soap:address location="http://localhost:8080/HotelServicios/ServiciosEmpleado"/>
</port>
</service>
</definitions>