HotelCliente/src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/HotelServicios/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/HotelServicios/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="grabarCliente">
<part name="parameters" element="tns:grabarCliente"/>
</message>
<message name="grabarClienteResponse">
<part name="parameters" element="tns:grabarClienteResponse"/>
</message>
<message name="buscarUsuarioInicioSesion">
<part name="parameters" element="tns:buscarUsuarioInicioSesion"/>
</message>
<message name="buscarUsuarioInicioSesionResponse">
<part name="parameters" element="tns:buscarUsuarioInicioSesionResponse"/>
</message>
<message name="buscarNombre">
<part name="parameters" element="tns:buscarNombre"/>
</message>
<message name="buscarNombreResponse">
<part name="parameters" element="tns:buscarNombreResponse"/>
</message>
<message name="listarCliente">
<part name="parameters" element="tns:listarCliente"/>
</message>
<message name="listarClienteResponse">
<part name="parameters" element="tns:listarClienteResponse"/>
</message>
<message name="buscarCliente">
<part name="parameters" element="tns:buscarCliente"/>
</message>
<message name="buscarClienteResponse">
<part name="parameters" element="tns:buscarClienteResponse"/>
</message>
<message name="elmininarCliente">
<part name="parameters" element="tns:elmininarCliente"/>
</message>
<message name="elmininarClienteResponse">
<part name="parameters" element="tns:elmininarClienteResponse"/>
</message>
<message name="autenticarCliente">
<part name="parameters" element="tns:autenticarCliente"/>
</message>
<message name="autenticarClienteResponse">
<part name="parameters" element="tns:autenticarClienteResponse"/>
</message>
<portType name="ServiciosCliente">
<operation name="grabarCliente">
<input wsam:Action="http://servicio/ServiciosCliente/grabarClienteRequest" message="tns:grabarCliente"/>
<output wsam:Action="http://servicio/ServiciosCliente/grabarClienteResponse" message="tns:grabarClienteResponse"/>
</operation>
<operation name="buscarUsuarioInicioSesion">
<input wsam:Action="http://servicio/ServiciosCliente/buscarUsuarioInicioSesionRequest" message="tns:buscarUsuarioInicioSesion"/>
<output wsam:Action="http://servicio/ServiciosCliente/buscarUsuarioInicioSesionResponse" message="tns:buscarUsuarioInicioSesionResponse"/>
</operation>
<operation name="buscarNombre">
<input wsam:Action="http://servicio/ServiciosCliente/buscarNombreRequest" message="tns:buscarNombre"/>
<output wsam:Action="http://servicio/ServiciosCliente/buscarNombreResponse" message="tns:buscarNombreResponse"/>
</operation>
<operation name="listarCliente">
<input wsam:Action="http://servicio/ServiciosCliente/listarClienteRequest" message="tns:listarCliente"/>
<output wsam:Action="http://servicio/ServiciosCliente/listarClienteResponse" message="tns:listarClienteResponse"/>
</operation>
<operation name="buscarCliente">
<input wsam:Action="http://servicio/ServiciosCliente/buscarClienteRequest" message="tns:buscarCliente"/>
<output wsam:Action="http://servicio/ServiciosCliente/buscarClienteResponse" message="tns:buscarClienteResponse"/>
</operation>
<operation name="elmininarCliente">
<input wsam:Action="http://servicio/ServiciosCliente/elmininarClienteRequest" message="tns:elmininarCliente"/>
<output wsam:Action="http://servicio/ServiciosCliente/elmininarClienteResponse" message="tns:elmininarClienteResponse"/>
</operation>
<operation name="autenticarCliente">
<input wsam:Action="http://servicio/ServiciosCliente/autenticarClienteRequest" message="tns:autenticarCliente"/>
<output wsam:Action="http://servicio/ServiciosCliente/autenticarClienteResponse" message="tns:autenticarClienteResponse"/>
</operation>
</portType>
<binding name="ServiciosClientePortBinding" type="tns:ServiciosCliente">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="grabarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsuarioInicioSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="elmininarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosClientePort" binding="tns:ServiciosClientePortBinding">
<soap:address location="http://localhost:8080/HotelServicios/Servicios"/>
</port>
</service>
</definitions>