HotelCliente/src/conf/xml-resources/web-service-references/Servicios/wsdl/localhost_8080/HotelServicios/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="autenticarCliente" type="tns:autenticarCliente"/>

<xs:element name="autenticarClienteResponse" type="tns:autenticarClienteResponse"/>

<xs:element name="buscarCliente" type="tns:buscarCliente"/>

<xs:element name="buscarClienteResponse" type="tns:buscarClienteResponse"/>

<xs:element name="buscarNombre" type="tns:buscarNombre"/>

<xs:element name="buscarNombreResponse" type="tns:buscarNombreResponse"/>

<xs:element name="buscarUsuarioInicioSesion" type="tns:buscarUsuarioInicioSesion"/>

<xs:element name="buscarUsuarioInicioSesionResponse" type="tns:buscarUsuarioInicioSesionResponse"/>

<xs:element name="dis_listar_avanzado" type="tns:dis_listar_avanzado"/>

<xs:element name="dis_listar_avanzadoResponse" type="tns:dis_listar_avanzadoResponse"/>

<xs:element name="elmininarCliente" type="tns:elmininarCliente"/>

<xs:element name="elmininarClienteResponse" type="tns:elmininarClienteResponse"/>

<xs:element name="grabarCliente" type="tns:grabarCliente"/>

<xs:element name="grabarClienteResponse" type="tns:grabarClienteResponse"/>

<xs:element name="listarCliente" type="tns:listarCliente"/>

<xs:element name="listarClienteResponse" type="tns:listarClienteResponse"/>

<xs:complexType name="elmininarCliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="elmininarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarCliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grabarCliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grabarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarCliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarNombre">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarNombreResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dis_listar_avanzado">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dis_listar_avanzadoResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuarioInicioSesion">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarUsuarioInicioSesionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarCliente">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>