HotelCliente/src/conf/xml-resources/web-service-references/ServReserva/wsdl/localhost_8080/HotelServicios/ServReserva.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="ServReserva">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/HotelServicios/ServReserva?xsd=1"/>
</xsd:schema>
</types>
<message name="listarReservas">
<part name="parameters" element="tns:listarReservas"/>
</message>
<message name="listarReservasResponse">
<part name="parameters" element="tns:listarReservasResponse"/>
</message>
<message name="buscarReserva">
<part name="parameters" element="tns:buscarReserva"/>
</message>
<message name="buscarReservaResponse">
<part name="parameters" element="tns:buscarReservaResponse"/>
</message>
<message name="registrarReserva">
<part name="parameters" element="tns:registrarReserva"/>
</message>
<message name="registrarReservaResponse">
<part name="parameters" element="tns:registrarReservaResponse"/>
</message>
<portType name="ServReserva">
<operation name="listarReservas">
<input wsam:Action="http://servicio/ServReserva/listarReservasRequest" message="tns:listarReservas"/>
<output wsam:Action="http://servicio/ServReserva/listarReservasResponse" message="tns:listarReservasResponse"/>
</operation>
<operation name="buscarReserva">
<input wsam:Action="http://servicio/ServReserva/buscarReservaRequest" message="tns:buscarReserva"/>
<output wsam:Action="http://servicio/ServReserva/buscarReservaResponse" message="tns:buscarReservaResponse"/>
</operation>
<operation name="registrarReserva">
<input wsam:Action="http://servicio/ServReserva/registrarReservaRequest" message="tns:registrarReserva"/>
<output wsam:Action="http://servicio/ServReserva/registrarReservaResponse" message="tns:registrarReservaResponse"/>
</operation>
</portType>
<binding name="ServReservaPortBinding" type="tns:ServReserva">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listarReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServReserva">
<port name="ServReservaPort" binding="tns:ServReservaPortBinding">
<soap:address location="http://localhost:8080/HotelServicios/ServReserva"/>
</port>
</service>
</definitions>