HotelCliente/src/conf/xml-resources/web-service-references/ServFactura/wsdl/localhost_8080/HotelServicios/ServFactura.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="buscarMontoCompra" type="tns:buscarMontoCompra"/>

<xs:element name="buscarMontoCompraResponse" type="tns:buscarMontoCompraResponse"/>

<xs:element name="generarfactura" type="tns:generarfactura"/>

<xs:element name="generarfacturaResponse" type="tns:generarfacturaResponse"/>

<xs:complexType name="generarfactura">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="reser" type="xs:string" minOccurs="0"/>
<xs:element name="compra" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generarfacturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="codfac" type="xs:string" minOccurs="0"/>
<xs:element name="comp" type="tns:compra" minOccurs="0"/>
<xs:element name="fecfacturacion" type="xs:string" minOccurs="0"/>
<xs:element name="res" type="tns:reserva" minOccurs="0"/>
<xs:element name="tot" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compra">
<xs:sequence>
<xs:element name="fec" type="xs:string" minOccurs="0"/>
<xs:element name="num" type="xs:string" minOccurs="0"/>
<xs:element name="tot" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="cli" type="tns:cliente" minOccurs="0"/>
<xs:element name="codRes" type="xs:string" minOccurs="0"/>
<xs:element name="dia" type="xs:int"/>
<xs:element name="fecCreacion" type="xs:string" minOccurs="0"/>
<xs:element name="fecFin" type="xs:string" minOccurs="0"/>
<xs:element name="fecInicio" type="xs:string" minOccurs="0"/>
<xs:element name="hab" type="tns:habitacion" minOccurs="0"/>
<xs:element name="imp" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="habitacion">
<xs:sequence>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="pre" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMontoCompra">
<xs:sequence>
<xs:element name="num" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMontoCompraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>