HotelCliente/web/WEB-INF/wsdl/localhost_8080/HotelServicios/ServCesta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="ServCesta">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/HotelServicios/ServCesta?xsd=1"/>
</xsd:schema>
</types>
<message name="getTotal">
<part name="parameters" element="tns:getTotal"/>
</message>
<message name="getTotalResponse">
<part name="parameters" element="tns:getTotalResponse"/>
</message>
<message name="agregarLinea">
<part name="parameters" element="tns:agregarLinea"/>
</message>
<message name="agregarLineaResponse">
<part name="parameters" element="tns:agregarLineaResponse"/>
</message>
<message name="getCesta">
<part name="parameters" element="tns:getCesta"/>
</message>
<message name="getCestaResponse">
<part name="parameters" element="tns:getCestaResponse"/>
</message>
<message name="quitarLinea">
<part name="parameters" element="tns:quitarLinea"/>
</message>
<message name="quitarLineaResponse">
<part name="parameters" element="tns:quitarLineaResponse"/>
</message>
<message name="crearCesta">
<part name="parameters" element="tns:crearCesta"/>
</message>
<message name="crearCestaResponse">
<part name="parameters" element="tns:crearCestaResponse"/>
</message>
<portType name="ServCesta">
<operation name="getTotal">
<input wsam:Action="http://servicio/ServCesta/getTotalRequest" message="tns:getTotal"/>
<output wsam:Action="http://servicio/ServCesta/getTotalResponse" message="tns:getTotalResponse"/>
</operation>
<operation name="agregarLinea">
<input wsam:Action="http://servicio/ServCesta/agregarLineaRequest" message="tns:agregarLinea"/>
<output wsam:Action="http://servicio/ServCesta/agregarLineaResponse" message="tns:agregarLineaResponse"/>
</operation>
<operation name="getCesta">
<input wsam:Action="http://servicio/ServCesta/getCestaRequest" message="tns:getCesta"/>
<output wsam:Action="http://servicio/ServCesta/getCestaResponse" message="tns:getCestaResponse"/>
</operation>
<operation name="quitarLinea">
<input wsam:Action="http://servicio/ServCesta/quitarLineaRequest" message="tns:quitarLinea"/>
<output wsam:Action="http://servicio/ServCesta/quitarLineaResponse" message="tns:quitarLineaResponse"/>
</operation>
<operation name="crearCesta">
<input wsam:Action="http://servicio/ServCesta/crearCestaRequest" message="tns:crearCesta"/>
<output wsam:Action="http://servicio/ServCesta/crearCestaResponse" message="tns:crearCestaResponse"/>
</operation>
</portType>
<binding name="ServCestaPortBinding" type="tns:ServCesta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTotal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarLinea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="quitarLinea">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCesta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServCesta">
<port name="ServCestaPort" binding="tns:ServCestaPortBinding">
<soap:address location="http://localhost:8080/HotelServicios/ServCesta"/>
</port>
</service>
</definitions>