HotelCliente/web/WEB-INF/wsdl/localhost_8080/HotelServicios/ServListarArticulos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="listarArticulos" type="tns:listarArticulos"/>

<xs:element name="listarArticulosResponse" type="tns:listarArticulosResponse"/>

<xs:complexType name="listarArticulos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarArticulosResponse">
<xs:sequence>
<xs:element name="return" type="tns:articulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="articulo">
<xs:sequence>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="pre" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>