HotelCliente/src/conf/xml-resources/web-service-references/ServVenta/wsdl/localhost_8080/HotelServicios/ServVenta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="grabarVenta" type="tns:grabarVenta"/>

<xs:element name="grabarVentaResponse" type="tns:grabarVentaResponse"/>

<xs:element name="nuevaVenta" type="tns:nuevaVenta"/>

<xs:element name="nuevaVentaResponse" type="tns:nuevaVentaResponse"/>

<xs:complexType name="nuevaVenta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="nuevaVentaResponse">
<xs:sequence>
<xs:element name="return" type="tns:venta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="venta">
<xs:sequence>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="fec" type="xs:string" minOccurs="0"/>
<xs:element name="hor" type="xs:string" minOccurs="0"/>
<xs:element name="num" type="xs:string" minOccurs="0"/>
<xs:element name="tot" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grabarVenta">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
<xs:element name="tot" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="grabarVentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>