HotelCliente/src/conf/xml-resources/web-service-references/ServicioFactura/wsdl/localhost_8080/HotelServicios/ServicioFactura.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicio/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicio/">

<xs:element name="agregar_factura" type="tns:agregar_factura"/>

<xs:element name="agregar_facturaResponse" type="tns:agregar_facturaResponse"/>

<xs:element name="agregar_resumen_factura" type="tns:agregar_resumen_factura"/>

<xs:element name="agregar_resumen_facturaResponse" type="tns:agregar_resumen_facturaResponse"/>

<xs:element name="buscarMontoCompra" type="tns:buscarMontoCompra"/>

<xs:element name="buscarMontoCompraResponse" type="tns:buscarMontoCompraResponse"/>

<xs:element name="codigoautomatic" type="tns:codigoautomatic"/>

<xs:element name="codigoautomaticResponse" type="tns:codigoautomaticResponse"/>

<xs:element name="guardarfactura" type="tns:guardarfactura"/>

<xs:element name="guardarfacturaResponse" type="tns:guardarfacturaResponse"/>

<xs:element name="listar_factura" type="tns:listar_factura"/>

<xs:element name="listar_facturaResponse" type="tns:listar_facturaResponse"/>

<xs:element name="listarfacturas" type="tns:listarfacturas"/>

<xs:element name="listarfacturasResponse" type="tns:listarfacturasResponse"/>

<xs:element name="registrar_Factura" type="tns:registrar_Factura"/>

<xs:element name="registrar_FacturaResponse" type="tns:registrar_FacturaResponse"/>

<xs:element name="resumenFactura" type="tns:resumenFactura"/>

<xs:element name="resumenFacturaResponse" type="tns:resumenFacturaResponse"/>

<xs:complexType name="listar_factura">
<xs:sequence>
<xs:element name="codfac" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar_facturaResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="factura">
<xs:sequence>
<xs:element name="aloj" type="tns:alojamiento" minOccurs="0"/>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="codfac" type="xs:string" minOccurs="0"/>
<xs:element name="comp" type="tns:compra" minOccurs="0"/>
<xs:element name="fecfacturacion" type="xs:string" minOccurs="0"/>
<xs:element name="tot" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alojamiento">
<xs:sequence>
<xs:element name="codAloj" type="xs:string" minOccurs="0"/>
<xs:element name="empleado" type="tns:empleado" minOccurs="0"/>
<xs:element name="fecCreacionAloj" type="xs:string" minOccurs="0"/>
<xs:element name="reserva" type="tns:reserva" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleado">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserva">
<xs:sequence>
<xs:element name="cli" type="tns:cliente" minOccurs="0"/>
<xs:element name="codRes" type="xs:string" minOccurs="0"/>
<xs:element name="dia" type="xs:int"/>
<xs:element name="fecCreacion" type="xs:string" minOccurs="0"/>
<xs:element name="fecFin" type="xs:string" minOccurs="0"/>
<xs:element name="fecInicio" type="xs:string" minOccurs="0"/>
<xs:element name="hab" type="tns:habitacion" minOccurs="0"/>
<xs:element name="imp" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="habitacion">
<xs:sequence>
<xs:element name="cod" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
<xs:element name="pre" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compra">
<xs:sequence>
<xs:element name="dni" type="xs:string" minOccurs="0"/>
<xs:element name="fec" type="xs:string" minOccurs="0"/>
<xs:element name="num" type="xs:string" minOccurs="0"/>
<xs:element name="tot" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarfacturas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarfacturasResponse">
<xs:sequence>
<xs:element name="return" type="tns:factura" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="codigoautomatic">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="codigoautomaticResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarfactura">
<xs:sequence>
<xs:element name="cli" type="xs:string" minOccurs="0"/>
<xs:element name="codaloj" type="xs:string" minOccurs="0"/>
<xs:element name="comp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarfacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resumenFactura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resumenFacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_factura">
<xs:sequence>
<xs:element name="cli" type="xs:string" minOccurs="0"/>
<xs:element name="codaloj" type="xs:string" minOccurs="0"/>
<xs:element name="comp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_facturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_resumen_factura">
<xs:sequence>
<xs:element name="cli" type="xs:string" minOccurs="0"/>
<xs:element name="codaloj" type="xs:string" minOccurs="0"/>
<xs:element name="comp" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregar_resumen_facturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrar_Factura">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registrar_FacturaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMontoCompra">
<xs:sequence>
<xs:element name="num" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarMontoCompraResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>