HotelCliente/src/conf/xml-resources/web-service-references/ServicioFactura/wsdl/localhost_8080/HotelServicios/ServicioFactura.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicio/" name="ServicioFactura">
<types>
<xsd:schema>
<xsd:import namespace="http://servicio/" schemaLocation="http://localhost:8080/HotelServicios/ServicioFactura?xsd=1"/>
</xsd:schema>
</types>
<message name="resumenFactura">
<part name="parameters" element="tns:resumenFactura"/>
</message>
<message name="resumenFacturaResponse">
<part name="parameters" element="tns:resumenFacturaResponse"/>
</message>
<message name="agregar_factura">
<part name="parameters" element="tns:agregar_factura"/>
</message>
<message name="agregar_facturaResponse">
<part name="parameters" element="tns:agregar_facturaResponse"/>
</message>
<message name="codigoautomatic">
<part name="parameters" element="tns:codigoautomatic"/>
</message>
<message name="codigoautomaticResponse">
<part name="parameters" element="tns:codigoautomaticResponse"/>
</message>
<message name="listar_factura">
<part name="parameters" element="tns:listar_factura"/>
</message>
<message name="listar_facturaResponse">
<part name="parameters" element="tns:listar_facturaResponse"/>
</message>
<message name="listarfacturas">
<part name="parameters" element="tns:listarfacturas"/>
</message>
<message name="listarfacturasResponse">
<part name="parameters" element="tns:listarfacturasResponse"/>
</message>
<message name="buscarMontoCompra">
<part name="parameters" element="tns:buscarMontoCompra"/>
</message>
<message name="buscarMontoCompraResponse">
<part name="parameters" element="tns:buscarMontoCompraResponse"/>
</message>
<message name="agregar_resumen_factura">
<part name="parameters" element="tns:agregar_resumen_factura"/>
</message>
<message name="agregar_resumen_facturaResponse">
<part name="parameters" element="tns:agregar_resumen_facturaResponse"/>
</message>
<message name="registrar_Factura">
<part name="parameters" element="tns:registrar_Factura"/>
</message>
<message name="registrar_FacturaResponse">
<part name="parameters" element="tns:registrar_FacturaResponse"/>
</message>
<portType name="ServicioFactura">
<operation name="resumenFactura">
<input wsam:Action="http://servicio/ServicioFactura/resumenFacturaRequest" message="tns:resumenFactura"/>
<output wsam:Action="http://servicio/ServicioFactura/resumenFacturaResponse" message="tns:resumenFacturaResponse"/>
</operation>
<operation name="agregar_factura">
<input wsam:Action="http://servicio/ServicioFactura/agregar_facturaRequest" message="tns:agregar_factura"/>
<output wsam:Action="http://servicio/ServicioFactura/agregar_facturaResponse" message="tns:agregar_facturaResponse"/>
</operation>
<operation name="codigoautomatic">
<input wsam:Action="http://servicio/ServicioFactura/codigoautomaticRequest" message="tns:codigoautomatic"/>
<output wsam:Action="http://servicio/ServicioFactura/codigoautomaticResponse" message="tns:codigoautomaticResponse"/>
</operation>
<operation name="listar_factura">
<input wsam:Action="http://servicio/ServicioFactura/listar_facturaRequest" message="tns:listar_factura"/>
<output wsam:Action="http://servicio/ServicioFactura/listar_facturaResponse" message="tns:listar_facturaResponse"/>
</operation>
<operation name="listarfacturas">
<input wsam:Action="http://servicio/ServicioFactura/listarfacturasRequest" message="tns:listarfacturas"/>
<output wsam:Action="http://servicio/ServicioFactura/listarfacturasResponse" message="tns:listarfacturasResponse"/>
</operation>
<operation name="buscarMontoCompra">
<input wsam:Action="http://servicio/ServicioFactura/buscarMontoCompraRequest" message="tns:buscarMontoCompra"/>
<output wsam:Action="http://servicio/ServicioFactura/buscarMontoCompraResponse" message="tns:buscarMontoCompraResponse"/>
</operation>
<operation name="agregar_resumen_factura">
<input wsam:Action="http://servicio/ServicioFactura/agregar_resumen_facturaRequest" message="tns:agregar_resumen_factura"/>
<output wsam:Action="http://servicio/ServicioFactura/agregar_resumen_facturaResponse" message="tns:agregar_resumen_facturaResponse"/>
</operation>
<operation name="registrar_Factura">
<input wsam:Action="http://servicio/ServicioFactura/registrar_FacturaRequest" message="tns:registrar_Factura"/>
<output wsam:Action="http://servicio/ServicioFactura/registrar_FacturaResponse" message="tns:registrar_FacturaResponse"/>
</operation>
</portType>
<binding name="ServicioFacturaPortBinding" type="tns:ServicioFactura">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="resumenFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar_factura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="codigoautomatic">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listar_factura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarfacturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarMontoCompra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregar_resumen_factura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrar_Factura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioFactura">
<port name="ServicioFacturaPort" binding="tns:ServicioFacturaPortBinding">
<soap:address location="http://localhost:8080/HotelServicios/ServicioFactura"/>
</port>
</service>
</definitions>